<button *ngIf="!showAuxiliary" type="button" [ngClass]="mainButtonClass()">
	<div class="pull-left">
		<i class="fa {{ buttonContent.Icon }}" aria-hidden="true"></i>
	</div>
	<span *ngIf="!this.buttonContent.IsOnlyIcon">
			{{ buttonContent.Text | customTranslate | async }}
	</span>
</button>
<button *ngIf="showAuxiliary" type="button"
	[ngClass]="loadingButtonClass()">

	<div *ngIf="!hasErrors && !hasSucceeded" class="pull-left">
		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
	</div>
	<span *ngIf="!hasErrors && !hasSucceeded && !this.buttonContent.IsOnlyIcon">
		{{ 'PROCESANDO' | customTranslate | async }}...
	</span>

	<div *ngIf="hasSucceeded" class="pull-left">
		<i class="fa fa-check" aria-hidden="true"></i>
	</div>
	<span *ngIf="hasSucceeded && !this.buttonContent.IsOnlyIcon">
		{{ 'CORRECTO' | customTranslate | async }}
	</span>

	<div *ngIf="hasErrors" class="pull-left">
		<b><i class="fa fa-times" aria-hidden="true"></i></b>
	</div>
	<span *ngIf="hasErrors && !this.buttonContent.IsOnlyIcon">
		{{ 'ERROR' | customTranslate | async }}
	</span>
</button>
